@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #0a1e27;
  --secondary-color: #e9c675;
  --text-light: #cbd5e1;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Playfair Display", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
}

section {
    height: 100vh;
    transition: background-color 1s ease-in-out;
  }

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__container_mapa {
  width: 100%; /* Ajuste para largura total */
  max-width: none; /* Remove restrições de largura máxima */
  margin: 0;
  padding: 0;
}

.section__subheader {
  position: relative;
  isolation: isolate;
  margin-bottom: 1rem;
  padding-left: 5rem;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--secondary-color);
}

.section__subheader::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 2px;
  width: 4rem;
  background-color: var(--secondary-color);
}

.section__subheader::after {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-60%, -50%);
  font-size: 8rem;
  font-weight: 600;
  color: var(--white);
  opacity: 0.1;
  z-index: -1;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--white);
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  color: var(--white);
  background-color: transparent;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(10, 30, 39, 0.5);
}

.logo a {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--white);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  position: relative;
  height: 100vh;
}

.header::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Ajuste para cobrir apenas a área da header */
    background: 
      linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 70%, /* Gradiente suave até 70% da altura */
        var(--primary-color) 100%   /* Cor sólida na parte inferior */
      ),
      url("images/home_banner.png") no-repeat center center / cover;
    z-index: -1;
  }

nav {
  position: relative;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  z-index: 9;
}

.nav__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__links {
  position: absolute;
  right: 1rem;
  top: 68px;
  width: calc(100% - 2rem);
  max-width: 550px;
  padding: 2rem;
  list-style: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(10, 30, 39, 0.8);
  border-radius: 10px;
  display: none;
}

.nav__links.open {
  display: flex;
  animation: show-nav 0.3s linear forwards;
}

.nav__links.close {
  animation: hide-nav 0.3s linear forwards;
}

@keyframes show-nav {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide-nav {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.nav__links a {
  font-weight: 500;
  color: var(--white);
}

.nav__links a:hover {
  color: var(--secondary-color);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__action__btn {
  display: none;
}

.nav__action__btn a img {
    height: 100px;
}

.header__container {
  position: relative;
  isolation: isolate;
  height: calc(100% - 75px);
  display: flex;
  align-items: center;
  justify-content: center;
}



.header__content {
  max-width: 700px;
  margin-top: -200px;
}

.header__content .section__header {
  font-size: 4rem;
  font-weight: 600;
  line-height: 5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Sombra escura */
}

.header__content a {
  color: var(--white);
}

.header__content a:hover {
  color: var(--secondary-color);
}

.header__socials {
  position: absolute;
  left: 0;
  align-items: center;
  gap: 1rem;
  color: var(--white);
  transform: translateX(calc(-50% + 1rem)) rotate(90deg);
  display: none;
}

.header__socials a {
  font-size: 1.2rem;
  color: var(--white);
  transform: rotate(-90deg);
}

.header__socials a:hover {
  color: var(--secondary-color);
}

#surf-intro-section {
    padding: 3rem 1rem;
    text-align: center;
    
  }

  .section__header2 {
    margin-top: 100px;
  }


  #surf-intro-section .text-content {
    color: var(--text-light);
    font-size: 1rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
  }
  
  #surf-intro-section .text-content p {
    margin-bottom: 1.5rem;
  }

.full-width-bg {
    
    width: 100vw; /* Garante que ocupa toda a largura da tela */
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  #surf-intro-section .section__header2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 2rem;
    font-family: var(--header-font);
    position: relative;
    display: inline-block; /* Para centralizar o sublinhado */
    text-align: center;
  }
  
  #surf-intro-section .section__header2::after {
    content: "";
    display: block;
    width: 60px; /* Ajuste o comprimento do sublinhado */
    height: 3px; /* Ajuste a espessura do sublinhado */
    background-color: var(--secondary-color);
    margin: 0.5rem auto 0;
  }